menu "GPIO config"
    config TEST_GPIO
        int "GPIO number for test"
    
    config GROUP_NUM
        int "Timer group number, 0 for TIMERG0 or 1 for TIMERG1"
        default 0 

    config TIMER_NUM 
        int "Timer index, 0 for hw_timer[0] & 1 for hw_timer[1]"    
        default 0

    config TIMER_CONFIG  
            

endmenu