menu "ADC Config"
    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config ADC1_pin 
        int "ADC1 pin number"
        default 0

endmenu 

menu "UART Config"

    config RX_pin
        int "RX pin number"
        default 1

    config TX_pin 
        int "TX pin number"
        default 3

endmenu